@font-face {
  font-family: 'hanzipen';
  src: url("./hanzipen.ttf") format("truetype");
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

body {
  color: #111;
  background: #ccc;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
}

h1.title {
  color: #fff;
  font-family: 'hanzipen';
}

body .main {
  width: 100%;
  padding: 12px;
}

body .main .center {
  margin: auto;
  width: 600px;
}

body .main form {
  background: #eee;
  width: inherit;
  display: flex;
  flex-direction: row;
}

body .main form input {
  padding: 8px;
  border: 3px solid #a7c6e1;
  flex-grow: 1;
  color: #666;
  letter-spacing: 1px;
}

body .main form a button {
  padding: 12px;
  background: #a7c6e1;
  color: #fff;
  border: 3px solid #a7c6e1;
  font-weight: bold;
}

body .main form a button:hover, body .main form a button:focus {
  border: 3px solid #b1d0eb;
  background: #b1d0eb;
}

button {
  letter-spacing: 0.5px;
}

#directions-panel {
  background: #eee;
}
