
<div class="main">
	 <video loop muted autoplay id="video_bg" style="position:absolute; z-index:-1;">
       <source src="./login.mp4" type="video/mp4">
    </video>
	<div class="center login">
	<h1 class="title">WayPoint</h1>
	<h3 class="subtitle">Finding the way, to travel on a budget.</h3>
	<form>
	<input ng-model="trip.origin" placeholder="Trip Location" ng-submit=""/>
	<input ng-model="trip.budget" placeholder="Amount Budgeted"/>
	<a ng-href="/map">
		<button>Submit</button>
	</a>
	</form>
	<p ng-show="trip.origin">I'm starting my trip in {{trip.origin}}.</p>
	<p ng-show="trip.budget">I want to spend ${{trip.budget}} for my trip.</p>
	</div>
</div>
<div class="content">
<article>
	<h1>Popular Trips</h1>
	<ul>
		<li class="header"><div>Destination</div><div>Waypoints</div><div></div><div></div><div></div><div>Duration</div><div>Total Cost</div><div>Rating</div></li>
		<li><div>Canada</div><div>Toronto</div><div>Oshawa</div><div>Kingston</div><div>Ottawa</div><div>4 Days</div><div>$410</div><div>3.6 ★</div></li>
		<li><div>Japan</div><div>Tokyo</div><div>Fiji</div><div>Osaka</div><div></div><div>2 Days</div><div>$285</div><div>4.5 ★</div></li>
		<li><div>Korea</div><div>Daequ</div><div>Pohang</div><div>Seoul</div><div>Incheon</div><div>7 Days</div><div>$1280</div><div>4.2 ★</div></li>
		<li><div>USA</div><div>New York</div><div>Chicago</div><div>Los Angeles</div><div>San Francisco</div><div>5 Days</div><div>$1400</div><div>3.9 ★</div></li>
		<li><div>France</div><div>Paris</div><div>Nates</div><div></div><div></div><div>4 Days</div><div>$1100</div><div>4.4 ★</div></li>
		<li><div>Australia</div><div>Adelaide</div><div>Melbourne</div><div>Sydney</div><div></div><div>7 Days</div><div>$950</div><div>4.1 ★</div></li>
	</ul>
	<h1>Find Your Ideal Trip</h1>
	<p>Waypoint uses a combination of crowdsourcing, as well as a large variety of data sources, to optimize the cost of a trip anywhere around the world. Set a starting point, a destination, and choose any number of waypoints you wish to visit along your trip. Then, simply specify a budget that you're willing to spend, as well as how long you would like your trip to last, and let us handle the rest! We'll optimize your meal options, places to stay, and transit options based on what saves you the most, while still maintaining an enjoyable experience.</p>
</article>
</div>
      <div class="footer">
        <content>
            <div>&copy; 2016 WayPoint</div>
            <div>
	            <ul>
	            	<a href="#"><li>About</li></a>
	            	<a href="#"><li>Contact Us</li></a>

	            </ul>
            </div>
        </content>
      </div>
