    <video loop muted autoplay id="video_bg" style="position:absolute; z-index:-1;">
       <source src="./login.mp4" type="video/mp4">
    </video>
<div class="main">

	<div class="center login">
	<img class="title" src="./title.png">
	<form>
	<input ng-model="trip.origin" placeholder="Example Location" ng-submit=""/>
	<input ng-model="trip.budget" placeholder="Amount budgeted"/>
	<a ng-href="/map">
		<button>Submit</button>
	</a>
	</form>
	<p ng-show="trip.origin">I'm heading for {{trip.origin}}</p>
	<p ng-show="trip.budget">and I want to spend ${{trip.budget}}</p>
	</div>
</div>
