<div class="col">
  <div class="left-panel">
    test
  </div>
  <div class="middle-panel">
    <div id="map"></div>
    <div id="directions-panel"></div>
  </div>
  <div id="right-panel">
    <div>
    <div id="floating-panel">
      <b>Mode of Travel: </b>
      <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
    </div>
      <form ng-controller="MapSelectCtrl">
        <b>Start:</b>
        <span id='start'>{{trip.origin}}</span>
        <!--input name='startPt' id="start" type="text"-->
        <br>
        <b>Waypoints:</b> <br>
        <input placeholder="enter waypoints along the way..." ng-model="newWayPoint" name="wayPts" type="text"/>
        <button ng-click="addWayPoint()">Add the waypoint</button>
        <br>
        <!--i>(Ctrl-Click for multiple selection)</i--> <br>
        <select multiple id="waypoints">
          <option ng-repeat="waypoint in mapModel" value="{{waypoint}}">{{waypoint}}</option>
        </select>
        <!--button ng-click="getYelpData()">See nearby yelp recommendations</button-->
        <br>
        <b>End:</b>
        <br>
        <input name='endPt' id="end" type="text"/>
        <br>
        <input type="submit" ng-click="getYelpData()" id="submit"/>
      </form>
    </div>
    
  </div>
</div>
